.Container{
    width: 80%;
    height: 500px;
    border: 2px solid black;
    margin: 5% auto 0 auto;
    background: #2bbd80; 
    overflow-y: scroll;
 }
 
 .Container::-webkit-scrollbar{
    width: 20px;
    height: 20px;
    background-color: black;
}

.container2::-webkit-scrollbar-thumb{
    background-color: #369681;
    width: 20px;

}



thead{
    width: 100%;
    height: 20px;
    background-color: black;
}

.Container2{
    width: 100%;
    height: 30px;
    background-color: black;
}


label{
    width: 200px;
    height: 20px;
    padding: 1%;
    color: white;
}

table{
    width: 100%;
}

thead{
    width: 80%;
    height: 30px;
    color: white;
    text-align: center;
}



tr, td{
    padding: 5px;
 }
 
 
 
 tr:nth-child(even){
     background-color: rgba(221, 221, 221, 0.849);
 }
 
 tr:hover{
     background-color: #369681;
     color: white;
 }

.op{
   
    width: 40px;
    height: 40px;
    display: flex;

}

.btns{
    background-color: black;
    color: white;
    float: right;
    width: 120px;
    margin: 0 2px 0 0;
}

button{
    background-color: black;
    cursor: pointer;
    display: flex;
    margin-left: 88%;
    margin-top: -35px;
}


.Entrada{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

.Cabeza{
    width: 100%;
    height: 40px;
    background-color: black;
}

.container{
    width: 80%;
    height: 200px;
    margin: 5% auto 0 auto;
}

.formularioDTS{
    background-color: #34e89e;
    width: 480px;
    height: 400px;
    margin: -250px 0 0 30%;
    border: 2px solid black;
    position: absolute;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.formularioDTS img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    margin-top: 2px;
    cursor: pointer;
}


.formularioDTS h2{
    background-color: #91dfbe;
    color: black;
    text-align: center;
    width: 100%;
}

h4{
    width: 80%;
    height: 20px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    margin: 50px 0 0 0;
    z-index: 0;
}

.formularioDTS input{
            width: 100%;
            height: 20px;
            background-color: white;
            color: black;
            margin-left: 0px;
            display: block;
            
           
            
}

.ContModDev{
    background-color: #34e89e;
    width: 300px;
    height: 300px;
    margin: -100px 0 0 14%;
    position: absolute;
    display: none;
}

.ContModDev input{
    width: 100%;
    
}

.ReporteG{
    background-color: black;
    margin-left: 81%;
    color: white;
}

.ContModDev h2{
    background-color: black;
    width: 100%;
    height: 20px;
    font-size: 100%;
    align-content: center;
    justify-content: center;
    color: white;
    display: flex;
}

.ContModDev h4{
    margin: 40px auto 0 auto;
}

.ContModDev .Guardar{
  
    margin: 100px 0 0 10%;
    width: 80%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.ContModDev .ca{
  
    margin: 0px 0 0 10%;
    width: 80%;
  
}

.ContModDev img{
    width: 20px;
    height: 17px;
    margin-top: 1px;
    margin-left: 2px;
}

.f1{
    width: 100%;
    display: block;
    margin-left:10%;
    
}

.formularioDTS .Guardar{
    width: 80%;
    margin: 60px 0 0 0%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.H2S{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

.ContenedorDetalle{
    width: 50%;
    height: 100px;
    display: block;
    margin: 0px auto 0 auto;
   
}

