.busq{
    width: 80%;
    height: 40px;
    border: 2px solid black;
    margin: 15px auto 0 auto;
    text-align: center;
    display: flex;
    margin-top: 50px;
    z-index: -1;
}

.b1{
    width: 20%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.bar{
    margin-top: 0px;
    height: 90%;
    z-index: -2;
}

h4{
    color: black;
    font-size: 18px;
    display: flex;
    
}

    

input{
    width: 80%;
    display: flex;
    height: 10px;

}

.container{
    width: 85%;
    height: 450px;
    border: 2px solid black;
    margin: 2% auto 0px auto;
    
}



.container2::-webkit-scrollbar{
    width: 20px;
    height: 20px;
    
}

.container2::-webkit-scrollbar-thumb{
    background-color: gray;
    width: 20px;
    
}

.container2{
    width: 100%;
    margin-top: 0px;
    overflow-y: scroll;
}



h3{
    width: 100%;
    height: 40px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0%;
}

.img{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}

img{
    width: 100px;
    height: 80px;
}

.Infor{
    width: 100%;
    height: 100%;
    border-left: 2px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    width: 100%;
    height: 91%;
    border-bottom: 2px solid black;
    display: inline-flex;
   
}



button{
    display: inline-flex;
    margin-left: 15%;
    width: 100px;
  
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

thead{
    background-color: black;
    color: white;
    height: 40px;
}


table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
   
}

tr, td{
   padding: 10px;
   
}



tr:nth-child(even){
    background-color: rgba(221, 221, 221, 0.849);
}

tr:hover{
    background-color: #369681;
    color: white;
}






.Button{
    width: 100px;
    display: inline-flex;
    height: 20px;
    margin: 2px 5px 0 5px;
    background: #34e89e;  /* fallback for old browsers */
    border: none;
    justify-content: center;
    cursor: pointer;
    
}



.inputs{
    width: 30%;
    justify-content: center;
}

.op{
    width: 20%;
}

form{
    background-color: #34e89e;
    width: 480px;
    height: 400px;
    margin: -440px 0 0 25%;
    border: 2px solid black;
    position: absolute;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

form img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    margin-top: 2px;
    cursor: pointer;
}


form h2{
    background-color: #91dfbe;
    color: black;
    text-align: center;
    width: 100%;
}

h4{
    width: 80%;
    height: 20px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    margin: 50px 0 0 0;
    z-index: 0;
}

input{
            width: 99%;
            height: 20px;
            background-color: white;
            color: black;
            margin-left: 0px;
            display: block;
            
            z-index: 1;
            
}

.f1{
    width: 100%;
    display: block;
    margin-left:10%;
    
}

.Guardar{
    width: 200px;
    margin: 60px auto 0 auto;
    background-color: black;
    color: white;
    cursor: pointer;
}