@media only screen and (min-width:320px) and (max-width:900px){
  

    ul{
        visibility: hidden;
    }

    
    
    
    h1{
        margin-left: 40px;
        margin-right: 50px;
        font-size: 30px;
        font-family: 'Fredoka One', cursive;
    }
    
    
    .Registro{
        border: 2px solid black;
        width: 90%;
        height: 1000px;
        background: #34e89e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #34e89e, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #34e89e, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        
        
    }
    
    .tx{
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px black solid;
    }
    
    
    
    input{
        width: 97%;
        height: 30px;
        background-color: white;
        color: black;
        margin-left: 0px;
        display: inline-flex;
        border: 2px solid black;
    }
    
    h3{
            width: 95%;
            height: 30px;
            background-color: black;
            color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 0px;
    }
    
    .f1{
        display: block;
        
    }

    .enviar{
        width: 90%;
        height: 30px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: white;
        background-color: black;
    }
    .rol{
        width: 100%;
            height: 20px;
            border: 2px solid black;
    }
}

@media only screen and (min-width:900px) and (max-width:1920px){
        

        
        .rol{
            width: 100%;
            height: 20px;
            border: 2px solid black;
        }
        
        .Registro{
            border: 2px solid black;
            width: 65%;
            height: 450px;
            background: #34e89e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #34e89e, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #34e89e, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 10px;
            display: block;
            
        }
        
        .tx{
            width: 100%;
            height: 40px;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px black solid;
        }
        
        
        
        input{
            width: 96%;
            height: 20px;
            background-color: white;
            color: black;
            margin-left: 0px;
            display: inline-flex;
            z-index: 1;
        }
        
        h3{
                width: 80%;
                height: 20px;
                background-color: black;
                color: white;
                text-align: center;
                margin-left: 5%;
                margin-right: 5%;
                z-index: 0;
        }
        
        .f1, .f2, .f3{
            margin-top: 50px;
            display: inline-flex;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
     
    
        .enviar{
            width: 20%;
            height: 30px;
            margin-top: 10%;
            display: block;
            color: white;
            margin-left: 80%;
            background-color: black;
            
        }



    }
    



